# ignore packages

*.zip
*.rar
*.tar.gz
*.tar
*.7z

# ignore files

*.log
*.log.*
*.pid
*.pyc
*.pyo
*.bak
*.desktop
__pycache__/
build/
.venv/
venv/

# ignore dirs

requires/*
dist/*

# track dirs
!requires/requirements.txt
!.data
!.doc
