################## requirements.txt ##################

setuptools
tornado == 6.3.3
toro
whoosh
jieba
chardet
pyyaml
cython == 0.29.12
numpy == 1.16.4
lxml
bs4
python-dateutil
psutil
pysocks
requests
