.container {
    max-width: 1920px;
    padding-left:0px; 
    padding-right:0px;
}

#row_container {
    text-align: center;
    margin-top: -43px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#option_list {
    top: 60px;
    width: 205px; /*185px*/
    position: absolute;
    text-align: left;
    margin-left: 20px;
}

#option_list div a, 
#option_list div div a {
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#note_books_list {
    overflow-y: auto; 
    height: 0px; /*300*/
    margin-bottom: 15px;
}

#note_books {
    margin-bottom: 0px;
}

.book_icon {
    top: -3px;
}

.category_name {
    display: inline-block;
    width: 80px;
    white-space: nowrap; 
    overflow: hidden;
    /*text-overflow: ellipsis; */
    overflow: ellipsis; 
}

.note_book_item {
    /*position: 0px;*/
    height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

#notes_form_list {
    width: 280px; /*300*/
    left: 230px; /*190*/
    top: 60px;
    position: absolute;
}

#form_search {
    margin-bottom: 0px;
}

#search_div {
    padding-left: 0px;
    padding-right: 0px;
}

#search_button {
    height: 34px;
}

#notes_list {
    margin-top: 5px;
    overflow-y: scroll; 
    height: 300px; 
    margin-left: 0%;
    padding-left: 0px;
    padding-right: 0px;
}

#notes_list_ul {
    list-style: none outside none;
    text-align: left;
    margin-bottom: 0px;
}

.note_list_item {
    height: 73px;
    font-size: 16px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#note_num_badge {
    background-color: #9999CC;
}

#notes_badge {
    background-color: #6699CC;
}

.note_item_title {
    color: rgb(17, 34, 204);
    font-size: 14px; 
    white-space: nowrap; 
    overflow: hidden; 
    overflow: ellipsis; 
    padding : 0px;
    margin-bottom: 0px;
}

.note_description_div {
    line-height:16px; 
    height:32px; 
    overflow:hidden; 
    padding:0px; 
    margin-left:0px;
}

.note_item_description {
    font-size: 12px; 
    color: rgb(51,51,51); 
    padding: 0px; 
    word-wrap: break-word; 
    word-break: break-all;
}

.note_item_datetime {
    font-size: 12px; 
    color: rgb(92, 209, 0); 
    padding : 0px;
    margin-bottom: 0px;
}

#note_area {
    width: 480px;
    left:510px;
    top: 60px;
    position: absolute;
    padding-right: 0px;
    /*margin-right: 0px;*/
}

#note_form {
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

#div_note_title {
    padding-right: 20px; 
    padding-left: 5px;
    margin-left: 0px;
    /*margin-right: 0px;*/
}

#note_title {
    margin-left: 0;
    margin-right: 0;
    display: block; 
    margin-top: 0px; 
    color: rgb(17, 34, 204); 
    width: 100%;
}

#div_note_text {
    padding-right: 20px; 
    padding-left: 5px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    /*position: absolute;*/
}

#note_text {
    height: 445px; 
    font-size: 13px;
    resize: none; 
    color: #111111; 
    margin-left: 0px; 
    margin-right: 0px; 
    display: block; 
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    /*vertical-align: middle;*/
    /*left: auto;*/
    /*min-width: 300px;*/
    /*float: left;*/
}

#div_note_button {
    padding-right: 20px; 
    padding-left: 5px;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 0px;
    /*position: relative;*/
}

#save_note_button {
    margin-left: auto;
    margin-right: auto;
    display: block; 
    margin-top: 2px; 
    padding: 0px 0px 0px; 
    width: 90px; 
    min-width: 80px;
    height: 30px;
}

#download_note_button {
    margin-left: auto;
    margin-right: auto;
    display: block; 
    margin-top: 2px; 
    padding: 0px 0px 0px; 
    width: 90px; 
    min-width: 80px;
    height: 30px;
}

#display_passwd {
    float: none;
}

#encrypt_notes {
    float: none;
}

#form_import,
#form_import_progress,
#form_export,
#form_export_progress,
#form_category,
#form_delete_category,
#form_delete_notes,
#form_reindex,
#form_reindex_progress,
#form_create_note,
#form_save_note,
#form_create_note_all,
#form_create_note_search,
#form_wait,
#form_import_note,
#form_export_note,
#form_reindex_note,
#form_offline {
    margin-top: 0px;
    margin-bottom: 0px; 
    padding: 0px
}

#form_import_progress .progress {
    margin-top: 7px;
    margin-right: 20px;
    margin-bottom: 7px;
}

#form_import_progress .progress-bar {
    min-width: 3em;
    width: 2%;
    padding-top: 0px;
}

#form_reindex_progress .progress {
    margin-top: 7px;
    margin-right: 20px;
    margin-bottom: 7px;
}

#form_reindex_progress .progress-bar {
    min-width: 3em;
    width: 2%;
    padding-top: 0px;
}

#form_export_progress .progress {
    margin-top: 7px;
    margin-right: 20px;
    margin-bottom: 7px;
}

#form_export_progress .progress-bar {
    min-width: 3em;
    width: 2%;
    padding-top: 0px;
}

#form_archive_progress .progress {
    margin-top: 7px;
    margin-right: 20px;
    margin-bottom: 7px;
}

#form_archive_progress .progress-bar {
    min-width: 3em;
    width: 2%;
    padding-top: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}

/*div.wysihtml5-colors {
    height: 20px;
    width: 50px;
}

a.wysihtml5-colors-title {
    padding-left: 70px;
}*/
div.wysihtml5-toolbar {
    height: 30px;
}

div.wysihtml5-toolbar div.btn-group {
    margin-right: 0px;
    margin-bottom: 0px;
}

div.wysihtml5-toolbar button {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
} 

.modal-content {
    text-align: center;
}

.note_wait_modal {
    display:    none;
    z-index:    1000;
    position: absolute;
    top:        40px;
    left:       -8px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0 )
                url('../img/spin2.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
div.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
div.loading .note_wait_modal {
    display: block;
}

.full_screen_note_wait_modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        40px;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(255, 255, 255, 0 )
                url('../img/spin2.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.saving {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.saving .full_screen_note_wait_modal {
    display: block;
}

@media only screen and (min-width: 768px) {
    .modal {
        text-align: center;
        position: relative;
        overflow-y: auto;
    }
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }
    .modal.fade .modal-dialog {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .modal.fade.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/*.mce-fullscreen {
    margin-top: 0px;
}*/