div#body_container {
    margin-top: 80px;
    max-width: 1920px;
    margin-left: 0px;
    margin-right: 0px;
}

div.navbar-header {
    width: 190px;
}

a#navbar_header {
    width: 190px;
    font-size: 16px;
    margin-top: 0px;
    text-align: center;
}

div.language {
    padding-top: 5px;
    padding-bottom: 3px;
}

div.update_password {
    padding-top: 10px;
    padding-bottom: 3px;
}

div.modal-footer {
    margin-top: 15px;
}

div.modal-body {
    padding-bottom: 0px;
}

#form_sign_out,
#form_delete_user {
    margin-top: 0px;
    margin-bottom: 0px; 
    padding: 0px
}

.px-input {
    display: block;
    height: 24px;
    padding: 0px 6px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    vertical-align: middle;
    background-color: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.full_window_wait_modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 10, 10, 10, .6 )
                url('../img/spin.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .full_window_wait_modal {
    display: block;
}

a.list-group-item {
    cursor: pointer;
}

@media only screen and (min-width: 768px) {
    .modal {
        text-align: center;
        position: relative ;
        overflow-y: auto;
    }
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: "";
        height: 100%;
    }
    .modal-dialog {
        display: inline-block;
        /*text-align: left;*/
        vertical-align: middle;
    }
    .modal.fade .modal-dialog {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    .modal.fade.in .modal-dialog {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Chrome/Safari/Opera */
            -khtml-user-select: none; /* Konqueror */
                -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                        user-select: none; /* Non-prefixed version, currently
                                              not supported by any browser */
}
