{% extends "../base.html" %}

{% block title %}
{{_("Search")}}
{% end %}

{% block stylesheet %}
<link href="{{ static_url("css/index.css") }}" rel="stylesheet" >
<style type="text/css">
    .glyphicon {
        line-height: 13px;
    }
</style>
{% end %}
 
{% block body %}
<div id="logo_div" class="row">
    <img src="{{ static_url("logo.png") }}">
</div>

<div id="search_div" class="row">
    <div class="col-xs-3">
    </div>
    <form id="search_form" class="well form-inline col-xs-6" action="/search?search_time=All_Times" method="post">
        {% raw xsrf_form_html() %}
        <div class="container">
            <div class="col-xs-12">
                <div class="row">
                    <div class="input-group">
                        <input name = "q" type="text" class="form-control col-xs-12" placeholder = "{{_("Type the key words...")}}" id = "search_input">
                        <span class="input-group-btn">
                            <button id="search_botton" type="submit" class="btn btn-primary col-xs-12">
                                <span class="glyphicon glyphicon-search"></span>
                                {{_("Search")}}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="col-xs-3">
    </div>
</div>
{% end %}

{% block javascript %}
<script type="text/javascript">
$(document).ready(function(){
    $("li#{{current_nav}}").attr("class","active");

    var local = window.location.host;
    var $goto_header = $("a#navbar_header");
    var $goto_home = $("a#Home_a");
    var $goto_search = $("a#Search_a");
    var $goto_rich = $("a#Rich_a");
    var $goto_note = $("a#Note_a");
    var $goto_help = $("a#Help_a");

    $goto_header.bind("click", gotoHome);
    $goto_home.bind("click", gotoHome);
    $goto_search.bind("click", gotoSearch);
    $goto_rich.bind("click", gotoRich);
    $goto_note.bind("click", gotoNote);
    $goto_help.bind("click", gotoHelp);

    function gotoHome() {
        window.location.href = location.protocol + "//" + local + "/";
    }

    function gotoSearch() {
        window.location.href = location.protocol + "//" + local + "/search";
    }

    function gotoRich() {
        window.location.href = location.protocol + "//" + local + "/rich";
    }

    function gotoNote() {
        window.location.href = location.protocol + "//" + local + "/note";
    }

    function gotoHelp() {
        window.location.href = location.protocol + "//" + local + "/help";
    }
});
</script>
{% end %}
