<html>
    <head>
        <title>Test upload</title>
    </head>
    <body>
        <h2>Select files to upload</h2>
        <form name="upload" enctype="multipart/form-data" action="/upload" method="post">
            {% raw xsrf_form_html() %}
            <input type="file" name="file1"><br>
            <!-- <input type="file" name="file2"><br>
            <input type="file" name="file3"><br>
            <input type="file" name="file4"><br>
            <input type="file" name="file5"><br>
            <input type="file" name="file6"><br> -->
            <input type="submit" name="submit" value="Upload">
            <input type="hidden" name="test" value="value">
        </form>
        <h2>WebSocket Test</h2>
        <form action="/new-msg/" method="post">
            {% raw xsrf_form_html() %}
            <textarea id="text"></textarea>
            <input type="submit"/>
        </form>
        <div id="msg"></div>
        <script src="{{ static_url("jquery/jquery-1.10.1.js") }}"></script>
        <script src="{{ static_url("js/websocket_test.js") }}"></script>
    </body>
</html>